<footer class="py-5">
  <hr>
  <div class="container text-center text-secondary">
    <div class="row">
      <div class="col">
        {% if site.show_social_icons %}
          {% include social.html %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        All content copyright {{ site.author }} &copy; {{ site.time | date: '%Y' }}.
      </div>
    </div>
    
  </div>
</footer>
