<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ '/assets/main.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/syntax.css' | prepend: site.baseurl }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="google" content="notranslate">
    <title>Data Science Blog</title>
</head>
