<!-- TODO: Fix up all the navbar links -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ site.url }}">Home <span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
              <a class="nav-link" href="{{ site.url }}">Home <span class="sr-only">(current)</span></a>
            </li> -->

      <li class="nav-item">
        <a class="nav-link" href="{{ '/about.html'| prepend: site.baseurl }}">About</a>
      </li>
    </ul>
    <!-- TODO:Implement search functionality 
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form> -->
  </div>
</nav>