<div id="pager" class="container">
    <div class="row">
      <div class="col text-left">
        {% if paginator.previous_page %}
          {% if paginator.page == 2 %}
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/">&larr;&nbsp;Newer posts</a>
          {% else %}
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/page{{paginator.previous_page}}/">&larr;&nbsp;Newer posts</a>
          {% endif %}
        {% else %}
          <a class="disabled btn btn-outline-primary btn-sm ">&larr;&nbsp;Newer posts</a>
        {% endif %}
      </div>
   
    
      <div class="col text-right">
        {% if paginator.next_page %}
          <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Older posts&nbsp;&rarr;</a>
        {% else %}
          <a class="disabled btn btn-outline-primary btn-sm">Older posts&nbsp;&rarr;</a>
        {% endif %}
      </div>
    </div>
  </div>