<section id="posts" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          {% for post in paginator.posts %}
            <div>
              <h2><a class="text-primary" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
              <p class="text-secondary lead">
                {{ post.date | date: "%d %B, %Y" }}
              </p>
              Categories:
              {% for category in post.categories %}
              <span class="text-success">{{ category }}{% if forloop.last == false %},{% endif %}</span>
              {% endfor %}
              <p>
                {% if post.summary %}
                  {{ post.summary }}
                {% else %}
                  {{ post.excerpt }}
                {% endif %}
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>