<div id="post" class="container pt-3">
  <div class="row">
    <div class="col">
      <h2>{{ page.title }}</h2>
      <p class="lead text-secondary">
        {{ page.date | date: "%d %B, %Y" }}
      </p>
      Categories:
      {% for category in page.categories %}
      <span class="text-success">{{ category }}{% if forloop.last == false %},{% endif %}</span>
      {% endfor %}
      <hr>
      <article>
        {{ content }}
      </article>
    </div>
  </div>
</div>