<div class="social-links">
    <a target="_blank" href="https://github.com/{{ site.github_username }}">
        <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="mailto:{{ site.email }}">
        <i class="fa fa-envelope fa-2x"></i>
    </a>
    <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fab fa-twitter fa-2x"></i>
    </a>
</div>