<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% include navbar.html%}

<body>
    <div class="container pt-3">
        <div class="row">
            <div class="col">
                <h2>{{ page.title }}</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                {{ content }}
                </article>
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include footer_js.html %}
</body>

</html>